@import './../../scss/style.variables.scss';

$padding-left: 50px;
$margin-left-header-container: calc($padding-left / 2);

header.header {
  width: 100%;
  height: $header-height;
  background-color: #ffffff00;
  display: grid;
  grid-template-columns: $gap $menu-width $gap 2fr $padding-left $gap 0.3fr $gap;
  grid-template-rows: 10px 44px 10px;
  align-items: center;

  .header-account {
    grid-row: 1/4;
    grid-column: 5/9;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-bottom-left-radius: 40px;
    box-shadow: 0px 0 15px 3px #00000042;

    .header-account-container {
      width: calc(100% - 2 * $gap - $margin-left-header-container);
      margin-left: ($gap + $margin-left-header-container);
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1370px) {
  header.header {
    grid-template-columns: $gap $menu-width - $gap $gap 2fr $gap 0.5fr $gap;

    .header-title {
      grid-column: 1/3;
    }
  }
}