.card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 10px auto 10px 0.2fr 10px auto 10px 0.2fr 10px;
  grid-auto-rows: max-content;
  border-radius: 8px;
  box-shadow: 0 3px 10px 0px #4b4b4b7a;
  transition: .3s;

  &:hover {
    box-shadow: 0 20px 10px 0px #4b4b4b7a;
    scale: 1.025;
  }

  &-section-image {
    grid-row: 1/3;
    grid-column: 1/4;
    background-color: #7d7d7d;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
  }

  .card-image {
    height: 100%;
  }

  &-section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-section-title,
  &-section-footer,
  &-section-content {
    grid-column: 2/3;
  }

  &-section-title {
    grid-row: 4/5;
    font-weight: 600;
    font-size: 1.1rem;

    .card-section-head {
      line-height: 2.4rem;
    }
  }

  &-section-content {
    grid-row: 6/7;
  }

  &-section-footer {
    grid-row: 8/9;
  }
}
