@use 'sass:color';
@import './../../scss/style.variables.scss';

@mixin generateColorSet($type) {
	$current_color: map-get($theme, $type);

	background-color: $current_color;
	color: contrast-color($current_color, black, white);
	transition: 0.3s;
	border: none;

	&:hover {
		background-color: lighten($current_color, 10);
		box-shadow: 0px 0px 29px 5px lighten($current_color, 30);
	}
}

@mixin generateOutlines($type) {
	$current_color: map-get($theme, $type);

	background-color: white;
	color: $current_color;
	border: 2px solid $current_color;
	transition: 0.3s;

	&:hover {
		background-color: white;
		border-color: lighten($current_color, 10);
		color: lighten($current_color, 10);
		box-shadow: none;
	}
}

button.button {
	width: 100%;
	padding: 14px;
	border-radius: 8px;
	cursor: pointer;
	@include generateColorSet('secondary');
}

@each $type in ('primary', 'secondary', 'danger', 'warning', 'magic', 'dummy') {
	button.button.type-#{$type} {
		@include generateColorSet($type);
	}
}

@each $type in ('primary', 'secondary', 'danger', 'warning', 'magic', 'dummy') {
	button.button.outline-#{$type} {
		@include generateOutlines($type);
	}
}
