@import './../scss/style.variables.scss';

$menu-height: calc(100vh - $gap - $footer-height);
$full-menu-width: calc($menu-width + $gap * 2);

.layout-default {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: $gap $menu-width $gap $gap * 3 1fr 1fr 1fr 1fr $gap;
  grid-template-rows:
    $header-height
    $gap
    calc(100vh - $header-height - $footer-height - $gap * 2)
    $footer-height
    $gap;

  .layout-header {
    display: grid;
    width: calc(100% - ($gap * 2) - $menu-width);
    margin-left: $menu-width + ($gap * 2);
    height: $header-height;
    z-index: 9;
    grid-column: 3/10;
    grid-row: 1/2;
    position: fixed;
  }

  .layout-menu {
    display: grid;
    z-index: 8;
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: 6;
    position: fixed;
    width: $full-menu-width;
    height: $menu-height;
  }

  .layout-content {
    grid-row: 3/5;
    grid-column: 5/9;
  }

  .layout-footer {
    grid-column: 1/4;
    grid-row: 4/6;
    position: fixed;
    z-index: 7;
    top: calc(100vh - $footer-height - $gap);
    height: $footer-height + $gap;
    width: $full-menu-width;
  }
}

@media screen and (max-width: 1370px) {
  .layout-default {
    grid-template-columns: $gap $menu-width-laptop $gap $gap 1fr 1fr 1fr 1fr $gap;
    
    .layout-menu,
    .layout-footer {
      width: calc($menu-width-laptop + $gap * 2);
    }
  }
}